@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  max-width: 1500px;
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
li,
dt,
dl {
  line-height: 1.6;
}

p {
  margin: 0 0 1rem 0;
}

li {
  list-style-type: none;
}

img {
  border: 0;
}

address {
  font-style: normal;
}

.clear {
  clear: both;
}

a:hover {
  text-decoration: none;
}

header {
  height: 70px;
  background-color: #ec715f;
}

.navbar {
  height: 70px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav-item {
  padding: 0px 22px;
}

.nav-link {
  color: #fafafa;
}

.logo {
  height: 70px;
}

.navbar-toggler {
  border-color: white;
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse {
  background-color: #ec715f;
}

main {
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main-message {
  padding-top: 200px;
  text-align: center;
}

.main-message h1 {
  color: #fafafa;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-message p {
  color: #fafafa;
  font-size: 20px;
}

.portfolio {
  background-color: #eceff1;
}

.explaination {
  text-align: center;
  width: 920px;
  margin: 0 auto;
}

.explaination h2 {
  padding-top: 90px;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.border-pink {
  margin: 8px auto 30px;
  width: 70px;
  border-bottom: 2px solid #ec715f;
}

.explaination-messages {
  font-size: 16px;
  color: #000000;
}

.portfolio-images-container {
  width: 920px;
  margin: 0 auto;
  padding: 30px 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-images > img {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}
